@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This was suspiciously easy</p>
        <p> 
            <img src="https://media0.giphy.com/media/YnkMcHgNIMW4Yfmjxr/giphy.gif?cid=790b7611f66d7538f72cc1fe630808f57aa226063eb0addc&rid=giphy.gif">
        </p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
