@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This was suspiciously easy</p>
        <p>Anyway, this is quite obviously meant to be a kind of portfolio thingy so follow the link to my linkedin <a href="https://www.linkedin.com/in/mikewiercioch/en" target="_blank">Michał Wiercioch</a></p>
        <p>
            <img src="https://media0.giphy.com/media/YnkMcHgNIMW4Yfmjxr/giphy.gif?cid=790b7611f66d7538f72cc1fe630808f57aa226063eb0addc&rid=giphy.gif" alt="You after hiring me">
        </p>
        <p>This is very much a WIP, will try to maintain it at least a bit</p>
        <p>Link to this site's repository <a href="https://github.com/TiniestBear/AzureTestApp" target="_blank">https://github.com/TiniestBear/AzureTestApp</a></p>
    </div>
