@page
@model AzureTestApp.Pages.LogModel
@{
}

    <div class="text-monospace text-center" style="color:gray">
        <h1 class="display-4">Very public dev log</h1>
        <p>If you see this i'm a full stack dev</p>
        <p>If you see this i'm a devOps...dev</p>
        <p>If you see this pipeline works and i updated bio</p>
    </div>